<div class="container">
  <div class="row">
    <div class="login center-block">

      <h3>Sign up</h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: "form-control", autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :username %>
            <%= f.text_field :username, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
          </div><br>

          <p>This is data from Geolocation. You are from: </p>
          <div class="field">
            <!--<label for="geo-country" class="control-label">Country</label>-->
            <!--<input name=user[country] class="form-control" id="geo-country" type="text" disabled>-->
            <%= f.label :country %>
            <%= f.text_field :country, class: "form-control", disabled: true%>
          </div><br>

          <div class="field">
            <%= f.label :state %>
            <%= f.text_field :state, class: "form-control", disabled: true%>
          </div><br>

          <div class="field">
            <%= f.label :city %>
            <%= f.text_field :city, class: "form-control", disabled: true %>
          </div><br>

          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-primary" %>
            <%= render "devise/shared/links" %>
          </div>
      <% end %>

    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
      getGeolocation();
  })
</script>



