<%= render 'layouts/navbar' %>

<div class="container">
  <div class="row">

    <!--<p id="notice"><%= notice %></p>-->

    <!--<%= link_to 'New Movie', new_movie_path, class: 'btn btn-primary' %>-->

    <% @movies.each do |movie| %>

        <div class="info-card">

          <img src="<%= asset_url 'movie.jpg' %>" alt="" class="img-movie-cover">
          <h6><%= movie.name %></h6>
          <%= link_to 'Show', movie, class: 'btn btn-success' %>
          <!--<td><%= link_to 'Edit', edit_movie_path(movie), class: 'btn btn-warning' %></td>-->
          <!--<td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%></td>-->

        </div>

    <% end %>

  </div>
</div>



