<%= render 'layouts/navbar' %>

<div class="container">
  <div class="row">
    <div class="info-card">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @movie.name %>
      </p>

      <p>
        <strong>Release date:</strong>
        <%= @movie.released %>
      </p>

      <%= link_to 'Edit', edit_movie_path(@movie) %> |
      <%= link_to 'Back', movies_path %>
    </div>

    <!--<td> <%# link_to 'Add Review', new_user_review_path(current_user), mv_id: @movie.id %> </td>-->

    <div class="info-card">
      <h4 id="header-txt">Reviews:</h4>
      <%= link_to 'Add Review', new_movie_review_path(@movie), mv_id: @movie.id, class: 'btn btn-primary', id: 'right-button' %>
    </div>

    <% if @movie.reviews.blank? %>
        <div class="info-card">
          <h4> There is no reviews yet...</h4>
        </div>
    <% end %>

    <% @movie.reviews.each do |review| %>

        <div class="info-card">

          <h4><%= "#{review.first_name} #{review.last_name}" %></h4>
          <h6><%= review.username %></h6>
          <p><%= review.comment %></p>

        </div>

    <% end %>

  </div>
</div>
