<%= render 'layouts/navbar' %>

<div class="container">
  <div class="row">

    <div class="info-card">
      <h4 id="header-txt">Movie:</h4>
      <!--<%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-primary', id: 'right-button' %>-->
    </div>

    <div class="info-card">
      <p id="notice"><%= notice %></p>

      <div class="star-rating" data-score=<%= @data[:avg_review] %> data-turbolinks-permanent id="stars"></div>
      <em><%= "#{@movie.reviews.length} reviews" %></em>

      <table>
        <tbody>
        <tr>
          <td>
            <strong>Name:</strong> <%= @movie.name %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Studio:</strong> <%= @movie.studio %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Status:</strong> <%= @movie.status %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Release date:</strong> <%= @movie.released %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Dvd Release Date:</strong> <%= @movie.dvd_release_date %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Genre:</strong> <%= @movie.genre %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Age rating:</strong> <%= @movie.age_rating %>
          </td>
        </tr>
        </tbody>
      </table>

      <%= link_to 'Edit', edit_movie_path(@movie) %> |
      <%= link_to 'Back', movies_path %>
    </div>

    <!--<td> <%# link_to 'Add Review', new_user_review_path(current_user), mv_id: @movie.id %> </td>-->

    <div class="info-card">
      <h4 id="header-txt">Reviews:</h4>
      <%= link_to 'Add Review', new_movie_review_path(@movie), mv_id: @movie.id, class: 'btn btn-primary', id: 'right-button' %>
    </div>

    <% if @movie.reviews.blank? %>
        <div class="info-card text-center">
          <h4> There is no reviews yet...</h4>
        </div>
    <% end %>

    <% @data[:reviews].each do |array_of_reviews| %>
        <%= render 'reviews/review', review: array_of_reviews[:review], score: array_of_reviews[:score].round(2) %>
    <% end %>

  </div>
</div>
