<div class="info-card">
  <table>
    <tbody>
    <tr>
      <td>
        <strong>Name:</strong> <%= user.get_fullname %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Score:</strong> <%= get_user_score %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Username:</strong> <%= user.username %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Email:</strong> <%= user.email %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Country:</strong> <%= user.country %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>State:</strong> <%= user.state %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>City:</strong> <%= user.city %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
