<%= form_for [movie, review] do |f| %>
    <% if review.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

          <ul>
            <% review.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <div id="star-rating"></div>
    </div>

    <div class="field">
      <%= f.label :subtitle, "Title" %>
      <%= f.text_field :subtitle, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :comment, "Review" %>
      <%= f.text_area :comment, class: "form-control", rows: 5 %>
    </div><br>

    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-primary" %>

      <%= link_to 'Back', :back, class: "btn btn-default" %>
    </div>
<% end %>
